*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
}

body {
    display: grid;
    place-items: center;
    background: linear-gradient(to right, #57c1eb 0%, #246fa8 100%);
}

#container {
    min-width: 70%;
    max-width: 100%;
    max-height: 590px;
    height: 100%;
    background: #FFF;
    border-radius: 10px;
    display: grid;
    grid:
        'search chat-title' 71px
        'convo msglist' 1fr
        'convo chatform' 78px
        / 275px 1fr;
}

#search, #convo {
    background: #0048aa;
}

#search {
    display: grid;
    align-items: center;
    padding: 0 20px;
    grid-area: search;
    border-radius: 10px 0 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.75);
    z-index: 1;
}

#search input {
    color: #eee;
    outline: none;
    font-weight: bold;
    border-radius: 2px;
    height: 30px;
    border: 0;
    padding-left: 48px;
    padding-right: 5px;
    font-size: 1.4rem;
    background: no-repeat rgba(255,255,255,0.3);
    background-position: 15px center;
    background-size: 20px 20px;
}

#search input::placeholder {
    color: #ddd;
    font-weight: bold;
}

#convo {
    grid-area: convo;
    overflow-y: scroll;
}

.conversation {
    display: grid;
    grid-template-columns: 40px 1fr max-content;
    grid-gap: 10px;
    color: #ddd;
    font-size: 1.3rem;
    border-bottom: 1px solid #002c88;
    padding: 20px 20px 20px 15px;
}

.conversation:hover {
    background: #002c88;
    cursor: pointer;
}

.conversation > img {
    grid-row: span 2;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -5px;
}

.friendname {
    font-weight: bold;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.date {
    font-size: 1rem;
    color: #ddd;
}

.msg {
    grid-row: span 2;
    color: #eee;
    padding-left: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    font-size: 1rem;
}

#chat-title, #chatform {
    background: #eee;
}

#chat-title {
    display: grid;
    grid: 36px/1fr 36px;
    align-content: center;
    align-items: center;
    padding: 0 20px;
    grid-area: chat-title;
    color: #0048aa;
    font-weight: bold;
    font-size: 2.0rem;
    border-radius: 0 10px 0 0;
    box-shadow: 0 1px 3px -1px rgba(0,0,0,0.25);
}

#msglist {
    grid-area: msglist;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    overflow-y: scroll;
}

.msgrow {
    display: grid;
    grid-template-columns: 70%;
    margin-top: 20px;
}

.msgrow img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-row: span 2;
}

.msgtext {
    padding: 9px 14px;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.msgtime {
    font-size: 1.3rem;
    color: #777;
}

.msgcontent {
    display: grid;
}

.me .msgtext {
    background-color: #0048aa;
    color: #eee;
    border: 1px solid #0048aa;
    border-radius: 14px 14px 0 14px;
    overflow-wrap: break-word;
}

.me {
    justify-content: end;
}

.me .msgcontent {
    justify-items: end;
}

.her .msgtext {
    background-color: #eee;
    color: #111;
    border: 1px solid #ddd;
    border-radius: 14px 14px 14px 0;
    overflow-wrap: break-word;
}

.her {
    justify-items: start;
}

.her .msgcontent {
    justify-items: end;
}

#chatform {
    display: grid;
    grid: 51px / 32px 1fr;
    align-content: center;
    align-items: center;
    grid-gap: 15px;
    grid-area: chatform;
    border-radius: 0 0 10px 0;
    border-top: 1px solid rgba(0,0,0,0.25);
    padding-left: 42px;
    padding-right: 22px;
}

#chatform input {
    outline: none;
    width: 250px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 6px;
    color: #330;
    font-size: 1.4rem;
}

::-webkit-scrollbar {
    display: none;
}

.red {
    width: 40px;
    height: 40px;
    background: orangered;
    box-shadow: 0px 0px 5px 2.5px orangered;
}
.orange {
    left:5px;
    width: 30px;
    height: 30px;
    background: orange;
    box-shadow: 0px 0px 6px 3px orange;
}
.gold {
    left:9px;
    width: 22.5px;
    height: 22.5px;
    background: gold;
    box-shadow: 0px 0px 4.5px 2px gold;
}
.white {
    left:11px;
    width: 17.5px;
    height: 17.5px;
    background: lightyellow;
    box-shadow: 0px 0px 4.5px 2px lightyellow;
}

.base {
    border-radius: 50%;
    position: absolute;
}
.flame-wrapper {
    position: relative;
    animation: flicker 3ms ease-in infinite;
    top: 20%;
    left: 95%;
}
.flame {
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-45deg);
}
@keyframes flicker {
    0% {transform: rotate(-1deg);}
    20% {transform: rotate(2deg) scaleY(1.05);}
    40% {transform: rotate(-1deg);}
    60% {transform: rotate(1deg);}
    80% {transform: rotate(-1deg) scaleY(0.90);}
    100% {transform: rotate(1deg);}
}

@media screen and (max-width:959px) {
    #container {
        width: 70%;
        height: 100%;
    }
    #search, #convo, #conversation {
        width: 100%;
        height: 100%;
    }
    #chat-title, #chatform {
        width: 100%;
        height: 100%;
    }
    #msglist {
        width: 100%;
        height: 100%;
    }
    #chatform input {
        width: 300%;
    }
}