body {
    margin: 0;
    padding: 0;
    background-image: url(back.jpeg);
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.wrapper {
    width: 400px;
    height: 420px;
    color: #fff;
    top: 50%;
    left: 50%;
    padding: 60px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 8px 8px 50px #000;
    text-align: center;
}

.wrapper input {
    width: 100%;
    margin-bottom: 20px;
}

.wrapper input[type=email], .wrapper input[type=password] {
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.wrapper input[type=submit] {
    border: none;
    outline: none;
    background: rgb(120, 228, 255);
    height: 40px;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.wrapper input[type=submit]:hover {
    cursor: pointer;
}

.wrapper a {
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    opacity: 0.8;
}

.wrapper a:hover {
    color: #fff;
    opacity: 1;
}

.checkbox {
    margin-bottom: 0px;
}

h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-bottom: 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bottom-text {
    color: #fff;
}

.bottom-text input {
    width: 10%;
}

